body {
    margin: 0;
    padding: 0;
    /* background-color: black; */
    background-color: #282c34;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.App-header {
    background-color: #282c34;
    min-height: 45px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
}

.App-link {
    color: #61dafb;
}

header {
    border-bottom: 1px solid rgba(125, 125, 125, .6);
}

header h1 {
    margin: 0;
    padding: 10px;
}

.flex-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row nowrap;
}

#toggle-sidebar {
    position: fixed;
    left: 10px;
    bottom: 10px;
    cursor: pointer;
    font-size: 16pt;
}