.set-name,
.interval-name {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    margin-right: 10px;
}

.set.active,
.interval.active {
    border: 1px dashed red;
    border-right-color: transparent;
    border-left-color: transparent;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(255, 0, 0, .2) 0%, rgba(255, 0, 0, .45) 35%, rgba(255, 150, 100, .85) 100%);
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    margin-top:20px;
}

.set:not(.active) .set-done {
    display: none !important;
}

.set button {
    background-color: pink;
    border: 0;
    font-weight: bold;
}

.set button {
    transition: background-color 1000ms ease;
}

.set:not(.active) button,
.set:not(.active) .set-countdown {
    display: none;
}

.set:not(.active)::after {
    content: "(Inactive)";
    font-style: italic;
    opacity: .6;
    font-weight: 300;
    margin-top: 10px;
}

.set button:hover {
    background-color: red;
}

.set-countdown {
    border: 1px solid gray;
    padding: 0 5px;
    text-align: left;
    display: inline-block;
}

.set-countdown::before {
    content: "⏳ REST ";
}

.interval-countdown:empty {
    display: none;
}

.interval-countdown-ready::before {
    content: "⏳ READY ";
}

.interval-countdown-active::before {
    content: "⏳ ACTIVE ";
}

.interval-countdown-rest::before {
    content: "⏳ REST ";
}

@keyframes textblur {
    0% {
        -webkit-filter: blur(0px);
    }
    50% {
        -webkit-filter: blur(5px);
    }
    100% {
        -webkit-filter: blur(0px);
    }
}

.youtube {
    position: relative;
    width: 400px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.youtube.zoomed {
    /* About Aspect Ratio 16:9 */
    width: 60vw;
    height: 33vw;
}

.youtube iframe {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 2;
}

.youtube .clipped-indicator,
.vimeo .btn-zoom,
.youtube .btn-zoom {
    cursor: pointer;
    transition: all 750ms ease;
}

.youtube .clipped-indicator:hover {
    background-color: white;
    color: red;
}

.youtube .clipped-indicator:hover::before {
    content: "Zoom";
    animation-name: textblur;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
}

.youtube .btn-zoom,
.vimeo .btn-zoom,
.clipped-indicator {
    width: 75px !important;
}

.youtube .btn-zoom {
    background-color: red;
    color: white;
}

.youtube .btn-zoom:hover,
.vimeo .btn-zoom:hover {
    background-color: white;
    color: red;
}

.youtube .clipped-indicator::before {
    content: "Clipped";
}

.youtube .btn-restart-from-clip {
    background-color: rgba(255, 60, 20, 1);
    cursor: pointer;
    padding: 5px auto;
    transition: all 700ms ease;
}

.youtube .btn-restart-from-clip:hover {
    background-color: rgba(255, 0, 0, 1);
}

.youtube .btn-restart-from-clip::before {
    content: "Restart Clip";
}

.vimeo .btn-zoom::before,
.youtube .btn-zoom::before {
    content: "Zoom";
}

.youtube .loading-sprite {
    z-index: -1;
    position: absolute;
    width: 95%;
    height: 95%;
    left: 2.5%;
    top: 2.5%;
    border: 1px dashed rgba(255, 255, 255, .8);
    border-radius: 10px;
    color: rgba(255, 255, 255, .8);
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    animation: fadeInFadeOut 3s infinite linear;
}

.vimeo .loading-sprite {
    z-index: 0;
    position: absolute;
    min-width: 250px;
    min-height: 148px;
    left: 2.5%;
    top: 0;
    border: 1px dashed rgba(255, 255, 255, .8);
    border-radius: 10px;
    color: rgba(255, 255, 255, .8);
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    animation: fadeInFadeOut 3s infinite linear;
}

.vimeo.zoomed .loading-sprite {
    display: none;
}

.vimeo iframe {
    z-index: 1;
    position: relative;
}

@keyframes fadeInFadeOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.youtube .clipped-indicator {
    z-index: 3;
    position: absolute;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    width: auto;
    height: 20px;
    font-weight: bold;
    background-color: red;
    right: 0;
    top: 0;
}

.youtube .btn-zoom,
.vimeo .btn-zoom {
    z-index: 3;
    position: absolute;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    width: auto;
    height: 20px;
    font-weight: bold;
    background-color: red;
    right: 0;
    top: 0;
}

embed.video {
    display: block;
    margin: 0 auto;
}

.video.vimeo {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 45vh;
    position: relative;
}

.video.vimeo:not(.zoomed) {
    width: 267px;
}

.video.vimeo.zoomed {
    width: 75%;
    height: 75vh;
}

.video.tiktok>* {
    max-width: 325px !important;
    max-height: 655px !important;
    border: 0;
    margin: 0 auto;
}