.file-viewer {
    padding: 5px;
    width: 100%;
    background-color: #282c34;
    min-height: 100vh;
    color: white;
    border-left: 1px solid rgba(191, 191, 191, .75);
    text-align: center;
}

#workout-title {
    font-weight: 500;
    letter-spacing: 2.5px;
}

details {
    margin: 0 auto;
    margin-bottom: 20px;
}

details[open] summary {
    background-color: rgba(255, 0, 0, .5);
    padding: 10px 0;
    margin: 20px 100px;
}

summary {
    cursor: pointer;
}

summary>* {
    margin: 0;
    padding: 0;
    display: inline;
}

#play-mode {
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 16pt;
}

#play-mode .icon:not(.active) {
    display: none;
}

.picture {
    display: inline-block;
    margin: 5px auto;
    padding-left: 5px;
    padding-right: 5px;
}

.picture img {
    max-width: 50vw;
    min-width: 50vw;
    max-width: auto;
    min-width: auto;
}

.set,
.duration {
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.duration.active {
    border: 2.5px solid red;
}

.sets.active {
    border: 2.5px solid red;
}

#workout-finished {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: column nowrap;
    font-size: 200%;
    font-weight: bolder;
}

h4 {
    font-size: 1.08em;
}