.file-viewer {
    padding: 5px;
    width: 100%;
    background-color: #282c34;
    min-height: 100vh;
    color: white;
    border-left: 1px solid rgba(191, 191, 191, .75);
    text-align: center;
}

details {
    margin: 10px auto;
}

details[open] summary {
    background-color: red;
}

summary {
    cursor: pointer;
}

#play-mode {
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 16pt;
}

#play-mode .icon:not(.active) {
    display: none;
}

.picture {
    display: inline-block;
    margin: 5px 5px 0 0;
}

.picture img {
    max-width: 50vw;
    max-height: 50vh;
}