.file-viewer {
    padding: 5px;
    width: 100%;
    background-color: #282c34;
    min-height: 100vh;
    color: white;
    border-left: 1px solid rgba(191, 191, 191, .75);
    text-align: center;
}

#workout-title {
    font-weight: 500;
    letter-spacing: 2.5px;
}

#workout-desc {
    /* letter-spacing: 2.5px; */
    background-color: rgba(125, 125, 125, .3);
    display: inline-block;
    margin: 10px auto;
    border-radius: 10px;
    padding: 15px;
}

details {
    margin: 30px 100px;
    margin-bottom: 20px;
    background-color: rgba(200,0,0,0.25);
}
@media screen and (max-width: 768px) {
    details {
        margin: 30px auto;
    }
}
details[open] {
    padding-bottom: 15px;
}

details summary {
    padding-top: 10px;
    padding-bottom: 10px;
}

details[open] summary {
    background-color: rgba(255, 0, 0, .5);
    padding: 10px 0;
    margin: 20px auto;
    transition: all 300ms ease-in;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width:768px) {
    details[open] summary {
        margin: 20px auto;
    }
}

summary {
    cursor: pointer;
}

summary>* {
    padding: 0;
    display: inline;
}

#play-mode {
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 16pt;
}

#play-mode .icon:not(.active) {
    display: none;
}

.picture {
    display: inline-block;
    margin: 5px auto;
}

img.picture {
    max-width: 100%;
    min-width: 50vw;
    max-width: auto;
    min-width: auto;
}

.set,
.duration {
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.duration.active {
    border: 2.5px solid red;
}

.sets.active {
    border: 2.5px solid red;
}

#workout-finished {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: column nowrap;
    font-size: 200%;
    font-weight: bolder;
}

h4 {
    font-size: 1.08em;
}

#jump-to-active {
    position: fixed;
    right: 10px;
    cursor: pointer;
    z-index: 3;
    font-size: 28px;
    bottom: 84px;
}

a, a:visited, a:active {
    color: skyblue;
}